* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: black;
    --secondary-color: white;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.time {
    font-size: 60px;
}

.toggle {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 0px;
    border-radius: 4px;
    padding: 8px 12px;
    position: absolute;
    top: 780px;
}

html.dark {
    --primary-color: white;
    --secondary-color: gray;
}

html.dark {
    --primary-color: rgb(0, 0, 0);
    color: var(--primary-color);
}